<br/>
<br/>
<div class="container">

  <form class="well form-horizontal" action=" " method="post" id="contact_form">
    <fieldset>

      <!-- Form Name -->
      <legend>
        <center>
          <h2><b>User SignUp Form</b></h2></center>
      </legend><br>

      <div class="form-group">
        <label class="col-md-4 control-label">Username</label>
        <div class="col-md-4 inputGroupContainer">
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
            <!-- <input name="user_name" placeholder="Username" class="form-control" type="text" id="userName" > -->
            {{input type = "text" placeholder = "Enter the name" value = name class="form-control" }}
          </div>
        </div>
      </div>


      <!-- Text input-->
      <div class="form-group">
        <label class="col-md-4 control-label">E-Mail</label>
        <div class="col-md-4 inputGroupContainer">
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
            <!-- <input name="email" placeholder="E-Mail Address" class="form-control" type="text" id="emailId"> -->
            {{input type = "text" placeholder = "E-mail address" value = email class="form-control" }}
          </div>
        </div>
      </div>

      <!-- Text input-->

      <div class="form-group">
        <label class="col-md-4 control-label">Password</label>
        <div class="col-md-4 inputGroupContainer">
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
            <!-- <input name="user_password" placeholder="Password" class="form-control" type="password" id="pswd"> -->
            {{input type = "password" placeholder = "Password" value = pswd class="form-control" }}
          </div>
        </div>
      </div>

      <!-- Text input-->
      <!--
      <div class="form-group">
        <label class="col-md-4 control-label">Confirm Password</label>
        <div class="col-md-4 inputGroupContainer">
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span> -->
      <!-- <input name="confirm_password" placeholder="Confirm Password" class="form-control" type="password" id="pswd1"> -->
      <!-- {{input type = "password" placeholder = "Confirm Password" value = pswd1 class="form-control"}}
          </div>
        </div>
      </div> -->

      <!-- Button -->
      <div class="form-group">
        <label class="col-md-4 control-label"></label>
        <div class="col-md-4"><br>
          <button type="submit" disabled= {{isDisabled}} class="btn btn-warning" {{action "signUp"}}>SignUp<span ></span></button>
        </div>
      </div>

    </fieldset>
  </form>
</div>
<!-- /.container -->
